*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

header, main{
    display: flex;
    justify-content: center;
    
}

header{
    height: 50px;
    align-items: center;
}

header, main, footer{
    width: 100vw;
}

footer{
    position: relative;
    bottom: 0;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: 15px;
    min-height: calc(100vh - 170px);
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
} */

h1.logo, h2.logo, h2.logo a{
    text-align: center;
    margin: 0;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.85);
    width: 150px;
    height: 40px;
    font-size: 32px;

    text-decoration: none;
}

h2.logo:hover{
    cursor: pointer;
}

.wrap{
    width: 960px;
    max-width: 90vw;
    margin: 0 auto;
}

header, header > .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
}

p{
    margin: 10px 0;
}

.contact .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.contact .wrap span > *{
    text-decoration: none;
    color: inherit;
    font-size: large;
}

.contact .wrap span > *:hover{
    opacity: 80%;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 0.9);
}

.button{
    padding: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.mobile-only{
    display: none;
}

.display-visible{
    display: flex;
}

.current-page{
    color: var(--color-2);
    box-shadow: inset 0px -5px 5px -5px var(--color-2);
}

.current-page:hover{
    background-color: white;
}

a{
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

a:hover{
    opacity: 80%;
}

ol, ul{
    margin: 15px 0;
    padding: 0 0 0 20px;
}
dd{
    margin-left: 10px;
}
ol > li{
    margin: 5px 0;
}

p, h1, h2, h3, h4, h5, h6, li{
    color: rgba(0, 0, 0, 0.85);
}

@keyframes openMenu {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media screen and (max-width: 720px){
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: flex;
    }
    div.menu-mobile{
        position: absolute;
        right: 0;
        top: 50px;
    }
    div.menu-mobile menu > *{
        transform: translateX(100%);
        background-color: white;
    }
    .opened{
        animation: openMenu 200ms ease-in-out calc(var(--i) * 50ms) 1 normal forwards;
    }

    .current-page{
        color: var(--color-2);
        box-shadow: inset -15px 0px 30px -25px var(--color-2);
    }
}